@charset "UTF-8";
body {
  padding-top: 50px; }

a {
  position: relative;
  padding: 25px 100px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: arial;
  font-size: 20px;
  background: -webkit-linear-gradient(#5C5C5C, #161616 30%);
  background: linear-gradient(#5C5C5C, #161616 30%);
  border: 4px solid white;
  border-radius: 35px;
  box-shadow: 5px 5px 13px gray, 0 0 0 4px black; }
  a::before {
    position: absolute;
    content: "";
    color: #CD0008;
    font-size: 15px;
    font-family: FontAwesome;
    left: 70px;
    padding-top: 5px; }
  a::after {
    position: absolute;
    content: "";
    color: #CD0008;
    font-size: 15px;
    font-family: FontAwesome;
    right: 70px;
    padding-top: 5px; }
  a:hover {
    background: -webkit-linear-gradient(#A85750, #CD0008 30%);
    background: linear-gradient(#A85750, #CD0008 30%); }
    a:hover::after {
      color: white; }
    a:hover::before {
      color: white; }
